{% extends 'base.html.twig' %}

{% block title %}All Lessons{% endblock %}

{% set include_navigation_bar = true %}

{% block body %}

    <p>{{ course.id }}</p>
    <p>{{ course.title }}</p>
    <p>{{ course.description }}</p>
    <p>{{ course.price }}</p>
    <br>
    <a href="{{ path('unenroll_course', {'id': course.id}) }}" class="btn btn-success">Unenroll</a>
    <a href="{{ path('all_courses') }}" class="btn btn-success">Go Back</a>
    <br>

    <div class="table-container w-50 m-auto">
        <table class="table table-striped">
            <thead style="text-align: center">
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            <tbody style="text-align: center">
                {% if lessons|length > 0 %}
                    {% for lesson in lessons %}
                        <tr>
                            <td>{{ lesson.id }}</td>
                            <td>{{ lesson.title }}</td>
                            <td>
                                <a href="{{ path('course_lesson', {'id': lesson.id}) }}" class="btn btn-success">View</a>
                                
                                {% for enrollment in app.user.enrollments %}
                                    {% for progress in enrollment.progresses %}
                                        {% if progress.status == 1 and lesson.id == progress.lesson.id %}
                                            <button class="btn btn-secondary" disabled>Completed</button>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p>No lesson found.</p>
                {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}

{#
{% set isLessonCompleted = false %}
{% if user is defined %}
    {% for enrollment in user.enrollments %}
        {% for progress in enrollment.progresses %}
            {% if progress.lesson == lesson and progress.status == 1 %}
                {% set isLessonCompleted = true %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}
{% if isLessonCompleted %}
    <button class="btn btn-secondary" disabled>Completed</button>
{% endif %}
#}