{% extends 'base.html.twig' %}

{% block title %}New Course{% endblock %}

{% set include_navigation_bar = true %}

{% block body %}

<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">All Courses</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">All Courses</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

    <div class="table-container w-50 m-auto">

        <table class="table table-striped">
            <thead style="text-align: center">
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            <tbody style="text-align: center">

                {% if courses|length > 0 %}
                    {% for course in courses %}
                        <tr>
                            <td>{{ course.id }}</td>
                            <td>{{ course.title }}</td>
                            <td>{{ course.description }}</td>
                            <td>{{ course.price }}</td>
                            <td>
                                <a href="{{ path('show_course', {'courseId': course.id}) }}" class="btn btn-primary">Course Details</a>

                                {% set isEnrolled = false %}
                                {% if user is defined %}
                                {# <pre> dump(user) </pre> #}
                                    {% for enrollment in user.enrollments %}
                                        {% if enrollment.course == course %}
                                            {% set isEnrolled = true %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                               
                                {% if isEnrolled %}
                                    <td><a href="{{ path('resume_course', {'id': course.id}) }}" class="btn btn-success">Resume</a></td>
                                {% else %}
                                    <td><a href="{{ path('enroll_course', {'id': course.id}) }}" class="btn btn-success">Enroll Now!</a></td>
                                {% endif %}

                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p>No courses found.</p>
                {% endif %}

            </tbody>

        </table>

    </div>

{% endblock %}


